<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.11.5295.12309" targetFramework="net45" />
  <package id="angularjs" version="1.5.0" targetFramework="net45" />
  <package id="jqPlot" version="1.0.8" targetFramework="net45" />
  <package id="MicosoftReportViewerWebForms_v11" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.0" targetFramework="net45" />
  <package id="VS2012-Javascript-Intellisense" version="1.0.712.2147" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="3.0.3.0" targetFramework="net45" />
</packages>